<h1 class="mb-0">Matthieu
  <span class="text-primary">Dorier</span>
</h1>
<div class="subheading mb-5"> <span class="text-primary">PhD, Software Development Specialist</span> · Argonne National Labotatory · mdorier
  <a href="mailto:mdorier@anl.gov">@anl.gov</a>
</div>
<p class="lead mb-5">
I am a research engineer working on high-performance computing for Argonne National Laboratory.
I specialize in HPC I/O, parallel and distributed data storage, distributed algorithms, and
networking. I design and develop software for HPC data management targetting various domains
including high-energy physics, computational biology, climate modeling, and artificial intelligence.
</p>

<!--
<p class="lead mb-5">
I obtained my PhD in Computer Science from the Ecole Normale Supérieure de Rennes, France, in 2014,
and was awarded the 2nd prize of the Gilles Kahn award for it, from the French Academy of Science
and the French Computer Science Society.
Following two years of postdoc at Argonne National Laboratory, I was promoted to software
development specialist and started working for Argonne remotely (from France in 2017, and from
the United Kingdom since 2018).
</p>
-->

<p class="lead mb-5">
I excel in software design and development in particular in C, C++, and Python. I defined a methodology
for developing HPC data services that is actively used in my team and by my collaborators.
I am also particularly good at setting up and driving research collaborations.
</p>

<div class="social-icons">
	<a href="https://linkedin.com/in/matthieu-dorier-a542bb43" target="_blank">
		<i class="fab fa-linkedin-in"></i>
	</a>
	<a href="https://github.com/mdorier/" target="_blank">
		<i class="fab fa-github"></i>
	</a>
	<a href="https://www.researchgate.net/profile/Matthieu_Dorier" target="_blank">
		<i class="fab fa-researchgate"></i>
	</a>
	<a href="https://scholar.google.fr/citations?user=n6vCaDAAAAAJ" target="_blank">
		<i class="fab fa-google"></i>
	</a>
</div>
