I developed and contributed to many pieces software during my career. The most important ones
are listed hereafter.
<br>
<br>
{% for s in site.data.software %}
<div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
  <div class="resume-content">
    <h3 class="mb-0">{{ s.name }}</h3>
    <div class="subheading mb-3">
      <a href="{{ s.website }}" target="_blank">
         <span class="badge badge-link"><i class="fas fa-link"></i></span>
         {{ s.title }}
      </a>
    </div>
    <p>{{ s.description }}</p>
  </div>
</div>
{% endfor %}

<!--
  <div class="resume-content">
    <h3 class="mb-0">GitHub Activity</h3>
    <div class="subheading mb-3">
      <a href="https://github.com/mdorier" target="_blank">
         <span class="badge badge-link"><i class="fas fa-link"></i></span>
         https://github.com/mdorier
      </a>
    </div>
    <p>
    <div class="calendar">
    Loading GitHub activity...
    </div>
    </p>
  </div>

<script
  src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js">
</script>

<script>
    GitHubCalendar(".calendar", "mdorier", { responsive: true });
</script>
-->
